<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    BPCE Timeline
  </title>
</head>

<body>
    <p>Redirecting...</p>
</body>

<script>
    window.onunload = function() {
        window.opener.location.reload();
    }
</script>

</html>