<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    BPCE Timeline
  </title>
</head>

<body>
    <p>Redirecting...</p>
</body>

<script>        
    var INSTANCE_URL = 'https://gocc-poc01.herokuapp.com';
    var sid = window.location.search.split('sid=')[1];

    window.postMessage(sid, INSTANCE_URL);
    //window.setTimeout(window.close(),200);
</script>

</html>