<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    BPCE Timeline
  </title>
</head>

<body>
    <p>Redirecting...</p>
</body>

<script>    
    window.onunload = function() {
        alert('closing');
        window.opener.location.reload();
    }

    window.setTimeout(
        window.close(),
        200
    );
</script>

</html>