<html lang="en">

</html>

<head>
    <title>
        BPCE Timeline
    </title>
</head>

<body>
    <iframe id="inlineTimeline" 
        title="Inline Timeline"
        width="100%" 
        height="100%" 
        style="border: none;">
    </iframe>
</body>

<script>    
    var INSTANCE_URL='https://gocc-poc01.herokuapp.com';
    var xhr = new XMLHttpRequest();

    xhr.onload = function () {
        if (xhr.status == 200) {
            document.getElementById('inlineTimeline').src =
            JSON.parse(xhr.response).TimelineUrl;
        }
        if (xhr.status == 401) {       
            var redirectUrl = JSON.parse(xhr.response).AuthUrl;
            redirectUrl += '?retUrl=/redirect'
            window.open(redirectUrl);
        }
    };

    xhr.open('GET', INSTANCE_URL + '/timelineUrl');
    xhr.send();
</script>

</html>